<div class="p-3">
    <div class="card">
        <div class="card-body">
            <ul class="nav nav-pills">
                <li>
                    <label class="border btn-info p-2 bg-info text-white m-1"> pages :{{appstateService.productState.totalpages}} </label>
                </li>
                <li>
                    <label class="border btn-info p-2 bg-success text-white m-1"> TotalProduct:{{appstateService.productState.totalProduct}} </label>
                </li>
                <li>
                    <label class="border btn-info p-2 bg-primary text-white m-1"> size:{{appstateService.productState.pageSize}} </label>
                </li>
                <li>
                    <label class="border btn-info p-2 bg-success text-white m-1"> Checked:{{totalchechedProduct()}} </label>
                </li>
            </ul>
        </div>
    </div>
</div>